.aside {
  width: 249px;
  background: #F5F2F0;
  border-right: 1px solid #D5D2D0;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 14px;
  z-index: 1;
  transition: .5s;
  }


.aside__content {
  padding: 23px 25px;
  position: relative;
  top: 64px;
  }


.aside__section {
  margin: 22px 0;
  padding: 0 2px;
  position: relative;
  }


.aside__section-title {
  color: #C4C2C0;
  margin: 12px 0;
  font-weight: 400;
  }

.aside__navigation-link {
  margin: 12px 0;
  line-height: 1.25;
  }

.aside__link {
  color: #696664;
  
  &:hover {
    color: #BA1000;
    }
  }

.aside__section-social {
  display: flex;
  width: 100px;
  justify-content: space-between;
  
  a {
    align-items: center;
    }
  
  img {
    height: 25px;
    opacity: 0.7;
    
    &:hover {
      opacity: 1;
      }
    }
  }

// Burger menu

.hamburger-menu {
  position: absolute;
  top: 100px;
  left: 300px;
  transition: .5s;
  }

.hamburger-menu-left {
  left: 30px;
  }


#menu__toggle {
  opacity: 0;
  }

.menu__btn {
  display: flex;
  align-items: center;
  top: 20px;
  left: 20px;
  
  width: 26px;
  height: 26px;
  
  cursor: pointer;
  }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
  }
.menu__btn > span::before {
  content: '';
  top: -8px;
  }
.menu__btn > span::after {
  content: '';
  top: 8px;
  }

.aside-hide {
  width: 0;
  }

.aside__content-hide {
  display: none;
  }