body {
  color: #333;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI',
  Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  }

.header {
  align-items: center;
  background: #FFF;
  display: flex;
  height: 60px;
  position: relative;
  width: 100%;
  z-index: 3;
  }

.header__local {
  border-right: 2px solid #F3F1EE;
  font-size: 14px;
  height: 100%;
  line-height: 17px;
  padding: 10px 18px 0;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
  
  a {
    color: #696664;;
    }
  
  img {
    width: 22px;
    }
  }

.header__logo {
  padding: 7px 32px 0 22px;
  }

.header__nav {
  flex-grow: 1;
  
  
  ul {
    display: flex;
    }
  }

.nav__item {
  margin-right: 20px;
  
  a {
    color: #696664;
    font-size: 16px;
    
    &:hover {
      color: #B20600;
      }
    }
  }


.header__buy-book {
  border-radius: 34px;
  box-shadow: inset 0 0 0 2px #F8E8E5;
  line-height: 34px;
  margin-right: 16px;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  transition: color .2s, box-shadow .2s, border-color .2s;
  white-space: nowrap;
  z-index: 1;
  
  a {
    color: #CB6556;
    }
  
  &:before {
    background: #CB6556;
    bottom: 100%;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: bottom .2s;
    z-index: -1;
    }
  
  &:hover {
    box-shadow: none;
    
    a {
      color: #FFF;
      }
    
    &:before {
      bottom: 0;
      }
    }
  }

.header__login {
  margin-right: 8px;
  }

.header__search {
  margin-right: 24px;
  }


.header__login,
.header__search {
  opacity: 0.5;
  
  &:hover {
    opacity: 0.8;
    }
  
  img {
    height: 30px;
    }
  }

.header__progress-bar {
  background: #E1E0DE;
  height: 4px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  }

.dropbtn {
  background-color: #FFF;
  border: none;
  color: #696664;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  }

.dropbtn:hover,
.dropbtn:focus {
  color: #B20600;
  }

.dropdown {
  display: inline-block;
  position: relative;
  
  &::after {
    content: '>';
    display: inline-block;
    transform: rotate(90deg);
    }
  }

.dropdown-content {
  background: #FFF;
  border: 2px solid #E2E2E2;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .12);
  display: none;
  font-size: 14px;
  line-height: 20px;
  min-width: 190px;
  position: absolute;
  right: 0;
  top: 40px;
  
  &:after,
  &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    }
  
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 7px;
    margin-left: -7px;
    }
  
  &:before {
    border-color: rgba(226, 226, 226, 0);
    border-bottom-color: #E2E2E2;
    border-width: 10px;
    margin-left: -10px;
    }
  
  ul {
    display: flex;
    flex-direction: column;
    margin: 15px 18px;
    position: relative;
    }
  
  li {
    display: block;
    
    
    a {
      color: black;
      display: block;
      font-size: 14px;
      padding: 3px 0;
      text-decoration: none;
      }
    }
  }

.show {
  display: block;
  }