.page__state {
  margin-left: 250px;
  position: relative;
  transition: .5s;
  top: 60px;
  margin-bottom: 70px;
  }

.page__state-all_width {
  margin-left: 0;
  }

.main {
  padding: 0 120px;
  }

.main__wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 0 35px;
  }

.main__header {
  margin: 40px 0 16px;
  }

.main__header-inner {
  line-height: 22px;
  }

.main__header-group {
  display: flex;
  justify-content: space-between;
  line-height: 22px;
  }

.breadcrumbs {
  color: #888;
  margin-bottom: 12px;
  }

.breadcrumbs__item {
  color: #888;
  display: inline-block;
  margin: 0;
  
  &:not(:first-child)::before {
    content: '→';
    margin: 0 7px;
    }
  
  span:hover {
    color: #BA1000;
    text-decoration: underline;
    }
  }

.breadcrumbs__item-home {
  svg {
    fill: #999;
    width: 17px;
    
    &:hover {
      fill: #BA1000;
      }
    }
  }

.breadcrumbs__link {
  color: #0059B2;
  }

.current-date {
  color: gray;
  white-space: nowrap;
  
  img {
    margin-right: 4px;
    width: 16px;
    }
  }

.main__header-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 auto 12px;
  padding: 0;
  }

.main__content {
  line-height: 22px;
  }

.article {
  p {
    margin-bottom: 12px;
    }
  
  h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 24px 0 12px;
    }
  
  a {
    
    color: #0059B2;
    
    &:hover {
      color: #BA1000;
      text-decoration: underline;
      }
    }
  
  u {
    text-decoration: underline;
    }
  
  ul,
  ol {
    margin: 22px 0;
    padding-left: 21px;
    
    li {
      margin: .3em 0;
      }
    }
  
  ul {
    list-style: disc outside;
    }
  
  ol {
    list-style-type: decimal;
    }
  
  p + ul,
  p + ol {
    margin-top: 0;
    }
  
  code {
    background: #F5F2F0;
    border-radius: 2px;
    font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
    padding: 2px 4px;
    }
  }

a.main__anchor {
  color: inherit;
  font: inherit;
  transition: .2s;
  
  &:hover {
    color: #666;
    }
  }

.important {
  border: 3px solid #F5F2F0;
  border-radius: 6px;
  margin: 16px 0;
  }

.important__header {
  border: none;
  margin: 0;
  padding: 24px 24px 0;
  
  img {
    margin-right: 7px;
    width: 18px;
    }
  }

.important__type {
  font-size: 16px;
  font-weight: 700;
  }

.important__content {
  margin: 12px 24px 24px;
  }

.balance {
  border: 4px solid #F5F2F0;
  border-radius: 2px;
  margin: 38px 0;
  position: relative;
  }

.balance__pluses {
  width: 100%;
  }

.balance__content {
  margin: 20px 35px 30px 23px;
  }

.main__section-table {
  text-align: center;
  
  h4 {
    margin-bottom: 10px;
    }
  }

.table__form{
  width: 200px;
  margin: 25% auto;
  
   input {
     width: 100%;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     padding: 4px 6px;
     font-size: 14px;
     line-height: 20px;
     color: #555;
     border-radius: 3px;
  
     &:focus {
       border-color: rgba(82, 168, 236, 0.8);
       outline: 0;
       box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
       }

     }
  
  button {
    width: 100%;
    background: rgba(82, 236, 87, 0.8);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    position: relative;
    cursor: pointer;
    
    &:hover {
      background-color: #fff;
      color: rgb(73, 210, 78);
      animation: pulse 1s infinite;
      }
    
    &:active {
      top: 1px;
      background-color: #F6F6F6;
      }
    }
  }


.main__section-slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  }


.slider-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 640px;
  height: 426px;
  box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, .75);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  }

#btn-prev,
#btn-next {
  position: absolute;
  height: 50px;
  width: 35px;
  background-color: #cccccce0;
  opacity: .2;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
  top: calc(50% - 25px);
  border: none;
  outline: none;
  }

#btn-prev:hover,
#btn-next:hover {
  opacity: .6;
  }

#btn-next {
  left: auto;
  right: 0;
  }

.slide {
  opacity: 0;
  position: absolute;
  transition: all ease 1s;

  img {
    border-radius: 10px;
    }
  }

.slide.active {
  opacity: 1;
  }

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  }

.right {
  transform: rotate(-45deg);
  }

.left {
  transform: rotate(135deg);
  }

.dots-wrapper {
  position: absolute;
  width: 20%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 5px;
  left: 0;
  right: 0;
  }

.dot {
  width: 10px;
  height: 10px;
  background: #cccccce0;
  opacity: .4;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s;
  
  &:hover {
    transform: scale(1.3);
    background: #cccccce0;
    opacity: .9;
    }
  
  }

.dot.active {
  opacity: .9;
  }