@media (max-width: 1420px) {
  .main__content {
    font-size: 14px;
    line-height: 22px;
    }
  }

@media (max-width: 1220px) {
  .main__content {
    line-height: 20px;
    }
  }

@media (max-width: 1170px) {
  .nav__item a {
    font-size: 14px;
    }
  }

@media (max-width: 1120px) {
  .main__content {
    line-height: 19px;
    }
  }