@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il */
ul,
ol {
  list-style: none;
}

/* Элементы a сбрасываем до стандартного вида текста */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #333;
}

.header {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  position: relative;
  z-index: 1;
  background: #fff;
}

.header__local {
  width: 60px;
  height: 100%;
  padding: 10px 18px 0;
  border-right: 2px solid #F3F1EE;
  text-align: center;
  text-transform: uppercase;
  line-height: 17px;
  font-size: 14px;
}
.header__local a {
  color: #696664;
}
.header__local img {
  width: 22px;
}

.header__logo {
  padding: 7px 32px 0 22px;
}

.header__nav {
  flex-grow: 1;
}
.header__nav ul {
  display: flex;
}

.nav__item {
  margin-right: 20px;
}
.nav__item a {
  color: #696664;
  font-size: 16px;
}
.nav__item a:hover {
  color: #b20600;
}

.header__buy-book {
  position: relative;
  overflow: hidden;
  line-height: 34px;
  padding: 0 12px;
  white-space: nowrap;
  box-shadow: inset 0 0 0 2px #f8e8e5;
  border-radius: 34px;
  transition: color 0.2s, box-shadow 0.2s, border-color 0.2s;
  margin-right: 16px;
}
.header__buy-book a {
  color: #cb6556;
}
.header__buy-book:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  top: 0;
  z-index: -1;
  background: #cb6556;
  transition: bottom 0.2s;
  content: "";
}
.header__buy-book:hover {
  box-shadow: none;
}
.header__buy-book:hover a {
  color: #fff;
}
.header__buy-book:hover:before {
  bottom: 0;
}

.header__login {
  margin-right: 8px;
}

.header__search {
  margin-right: 24px;
}

.header__login,
.header__search {
  opacity: 0.5;
}
.header__login:hover,
.header__search:hover {
  opacity: 0.8;
}
.header__login img,
.header__search img {
  height: 30px;
}

.header__progress-bar {
  width: 100%;
  height: 4px;
  position: sticky;
  background: #e1e0de;
  z-index: 10;
  top: 0px;
}

.aside {
  width: 249px;
  background: #F5F2F0;
  border-right: 1px solid #D5D2D0;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 14px;
}

.aside__content {
  padding: 23px 25px;
  position: relative;
  top: 64px;
  z-index: 10;
}

.aside__section {
  margin: 22px 0;
  padding: 0 2px;
  position: relative;
}

.aside__section-title {
  color: #C4C2C0;
  margin: 12px 0;
  font-weight: 400;
}

.aside__navigation-link {
  margin: 12px 0;
  line-height: 1.25;
}

.aside__link {
  color: #696664;
}
.aside__link:hover {
  color: #BA1000;
}

.aside__section-social {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.aside__section-social a {
  align-items: center;
}
.aside__section-social img {
  height: 25px;
  opacity: 0.7;
}
.aside__section-social img:hover {
  opacity: 1;
}

.page__state {
  margin-left: 250px;
  position: relative;
}

.main {
  padding: 0 120px;
}

.main__wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 0 35px;
}

.main__header {
  margin: 40px 0 16px;
}

.main__header-inner {
  line-height: 22px;
}

.main__header-group {
  display: flex;
  justify-content: space-between;
  line-height: 22px;
}

.breadcrumbs {
  color: #888;
  margin-bottom: 12px;
}

.breadcrumbs__item {
  color: #888;
  display: inline-block;
  margin: 0;
}
.breadcrumbs__item:not(:first-child)::before {
  content: "→";
  margin: 0 7px;
}
.breadcrumbs__item span:hover {
  color: #BA1000;
  text-decoration: underline;
}

.breadcrumbs__item-home svg {
  fill: #999;
  width: 17px;
}
.breadcrumbs__item-home svg:hover {
  fill: #BA1000;
}

.breadcrumbs__link {
  color: #0059B2;
}

.current-date {
  color: gray;
  white-space: nowrap;
}
.current-date img {
  margin-right: 4px;
  width: 16px;
}

.main__header-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 auto 12px;
  padding: 0;
}

.main__content {
  line-height: 22px;
}

.article p {
  margin-bottom: 12px;
}
.article h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 24px 0 12px;
}
.article a {
  color: #0059B2;
}
.article a:hover {
  color: #666;
  color: #BA1000;
  text-decoration: underline;
}
.article u {
  text-decoration: underline;
}
.article ul,
.article ol {
  margin: 22px 0;
  padding-left: 21px;
}
.article ul li,
.article ol li {
  margin: 0.3em 0;
}
.article ul {
  list-style: disc outside;
}
.article ol {
  list-style-type: decimal;
}
.article p + ul,
.article p + ol {
  margin-top: 0;
}
.article code {
  background: #F5F2F0;
  border-radius: 2px;
  font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
  padding: 2px 4px;
}

a.main__anchor {
  color: inherit;
  font: inherit;
  transition: 0.2s;
}
a.main__anchor:hover {
  color: #666;
}

.important {
  border: 3px solid #F5F2F0;
  border-radius: 6px;
  margin: 16px 0;
}

.important__header {
  border: none;
  margin: 0;
  padding: 24px 24px 0;
}
.important__header img {
  margin-right: 7px;
  width: 18px;
}

.important__type {
  font-size: 16px;
  font-weight: 700;
}

.important__content {
  margin: 12px 24px 24px;
}

.balance {
  border: 4px solid #F5F2F0;
  border-radius: 2px;
  margin: 38px 0;
  position: relative;
}

.balance__pluses {
  width: 100%;
}

.balance__content {
  margin: 20px 35px 30px 23px;
}

.footer {
  align-items: center;
  background: #FBFAFA;
  border-top: 2px solid #F3F2F1;
  color: #9D9D9D;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  margin-left: 250px;
  margin-top: 30px;
  padding: 0 48px;
  position: relative;
  font-size: 14px;
}

.footer__list {
  align-items: center;
  display: flex;
}

.footer__item {
  margin-right: 12px;
  white-space: nowrap;
}

.footer__item:not(:nth-last-child(-n+1)):after {
  margin-left: 12px;
  content: "|";
}

.footer__link {
  color: #3b86c4;
}

/*# sourceMappingURL=style.css.map */
