@import 'reset';
@import 'header';
@import 'aside';
@import 'main';
@import 'footer';
@import 'media';

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(82, 236, 87, 0.5);
    }
  50% {
    box-shadow: 0 0 0 7px rgba(82, 236, 87, 0.5);
    }
  100% {
    box-shadow: 0 0 0 0 rgba(82, 236, 87, 0.5);
    }
  }

.hide {
  display: none;
  }

.generate-table {
  margin: 0 auto;
  tr {
    font-weight: normal;
    text-shadow: #fff 0 1px 0px;
    background-color: #f4f4f4;
    }
  
   td {
     padding: 8px;
     line-height: 20px;
     text-align: left;
     vertical-align: top;
     border-top: 1px solid #dddddd;
     }
  }

#map {
  height: 800px;
  }
