@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
html {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il */
ul,
ol {
  list-style: none;
}

/* Элементы a сбрасываем до стандартного вида текста */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: #333;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.header {
  align-items: center;
  background: #FFF;
  border-bottom: 4px solid #E1E0DE;
  display: flex;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header__local {
  border-right: 2px solid #F3F1EE;
  font-size: 14px;
  height: 100%;
  line-height: 17px;
  padding: 10px 18px 0;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
}
.header__local a {
  color: #696664;
}
.header__local img {
  width: 22px;
}

.header__logo {
  padding: 7px 32px 0 22px;
}

.header__nav {
  flex-grow: 1;
}
.header__nav ul {
  display: flex;
}

.nav__item {
  margin-right: 20px;
}
.nav__item a {
  color: #696664;
  font-size: 16px;
}
.nav__item a:hover {
  color: #B20600;
}

.header__current-time {
  margin-right: 20px;
  color: #696664;
}

.header__buy-book {
  border-radius: 34px;
  box-shadow: inset 0 0 0 2px #F8E8E5;
  line-height: 34px;
  margin-right: 16px;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  transition: color 0.2s, box-shadow 0.2s, border-color 0.2s;
  white-space: nowrap;
  z-index: 1;
}
.header__buy-book a {
  color: #CB6556;
}
.header__buy-book:before {
  background: #CB6556;
  bottom: 100%;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: bottom 0.2s;
  z-index: -1;
}
.header__buy-book:hover {
  box-shadow: none;
}
.header__buy-book:hover a {
  color: #FFF;
}
.header__buy-book:hover:before {
  bottom: 0;
}

.header__login {
  margin-right: 8px;
}
.header__login img {
  height: 30px;
}

.header__search {
  margin-right: 24px;
}
.header__search img {
  height: 25px;
}

.header__login,
.header__search {
  opacity: 0.5;
}
.header__login:hover,
.header__search:hover {
  opacity: 0.8;
}

.header__progress-bar {
  background: #E1E0DE;
  height: 4px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.dropbtn {
  background-color: #FFF;
  border: none;
  color: #696664;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.dropbtn:hover,
.dropbtn:focus {
  color: #B20600;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown::after {
  content: ">";
  display: inline-block;
  transform: rotate(90deg);
}

.dropdown-content {
  background: #FFF;
  border: 2px solid #E2E2E2;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  display: none;
  font-size: 14px;
  line-height: 20px;
  min-width: 190px;
  position: absolute;
  right: 0;
  top: 40px;
}
.dropdown-content:after, .dropdown-content:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dropdown-content:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 7px;
  margin-left: -7px;
}
.dropdown-content:before {
  border-color: rgba(226, 226, 226, 0);
  border-bottom-color: #E2E2E2;
  border-width: 10px;
  margin-left: -10px;
}
.dropdown-content ul {
  display: flex;
  flex-direction: column;
  margin: 15px 18px;
  position: relative;
}
.dropdown-content li {
  display: block;
}
.dropdown-content li a {
  color: black;
  display: block;
  font-size: 14px;
  padding: 3px 0;
  text-decoration: none;
}

.show {
  display: block;
}

.aside {
  background: #F5F2F0;
  border-right: 1px solid #D5D2D0;
  bottom: 0;
  font-size: 14px;
  height: 100%;
  left: 0;
  position: fixed;
  transition: 0.5s;
  width: 249px;
  z-index: 1;
}

.aside__content {
  padding: 23px 25px;
  position: relative;
  top: 64px;
}

.aside__section {
  margin: 22px 0;
  padding: 0 2px;
  position: relative;
}

.aside__section-title {
  color: #C4C2C0;
  font-weight: 400;
  margin: 12px 0;
}

.aside__navigation-link {
  line-height: 1.25;
  margin: 12px 0;
}

.aside__link {
  color: #696664;
}
.aside__link:hover {
  color: #BA1000;
}

.aside__section-social {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.aside__section-social a {
  align-items: center;
}
.aside__section-social img {
  height: 25px;
  opacity: 0.7;
}
.aside__section-social img:hover {
  opacity: 1;
}

.hamburger-menu {
  left: 300px;
  position: absolute;
  top: 100px;
  transition: 0.5s;
}

.header__hamburger-menu {
  left: 15px;
  position: absolute;
  top: 15px;
  transition: 0.5s;
  display: none;
}

.hamburger-menu-left {
  left: 30px;
}

.menu__btn {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 26px;
  left: 20px;
  top: 20px;
  width: 26px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  background-color: #616161;
  display: block;
  height: 2px;
  position: absolute;
  transition-duration: 0.25s;
  width: 100%;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.aside-hide {
  width: 0;
}

.aside__content-hide {
  display: none;
}

aside .mobile__aside-show {
  width: 33%;
}

.page__state {
  margin-left: 250px;
  position: relative;
  transition: 0.5s;
  top: 60px;
  margin-bottom: 70px;
}

.page__state-all_width {
  margin-left: 0;
}

.main {
  padding: 0 120px;
}

.main__wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 0 35px;
}

.main__header {
  margin: 40px 0 16px;
}

.main__header-inner {
  line-height: 22px;
}

.main__header-group {
  display: flex;
  justify-content: space-between;
  line-height: 22px;
}

.breadcrumbs {
  color: #888;
  margin-bottom: 12px;
}

.breadcrumbs__item {
  color: #888;
  display: inline-block;
  margin: 0;
}
.breadcrumbs__item:not(:first-child)::before {
  content: "→";
  margin: 0 7px;
}
.breadcrumbs__item span:hover {
  color: #BA1000;
  text-decoration: underline;
}

.breadcrumbs__item-home svg {
  fill: #999;
  width: 17px;
}
.breadcrumbs__item-home svg:hover {
  fill: #BA1000;
}

.breadcrumbs__link {
  color: #0059B2;
}

.current-date {
  color: gray;
  white-space: nowrap;
}
.current-date img {
  margin-right: 4px;
  width: 16px;
}

.main__header-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 auto 12px;
  padding: 0;
}

.main__content {
  line-height: 22px;
}

.article p {
  margin-bottom: 12px;
}
.article h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 24px 0 12px;
}
.article a {
  color: #0059B2;
}
.article a:hover {
  color: #BA1000;
  text-decoration: underline;
}
.article u {
  text-decoration: underline;
}
.article ul,
.article ol {
  margin: 22px 0;
  padding-left: 21px;
}
.article ul li,
.article ol li {
  margin: 0.3em 0;
}
.article ul {
  list-style: disc outside;
}
.article ol {
  list-style-type: decimal;
}
.article p + ul,
.article p + ol {
  margin-top: 0;
}
.article code {
  background: #F5F2F0;
  border-radius: 2px;
  font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
  padding: 2px 4px;
}

a.main__anchor {
  color: inherit;
  font: inherit;
  transition: 0.2s;
}
a.main__anchor:hover {
  color: #666;
}

.important {
  border: 3px solid #F5F2F0;
  border-radius: 6px;
  margin: 16px 0;
}

.important__header {
  border: none;
  margin: 0;
  padding: 24px 24px 0;
}
.important__header img {
  margin-right: 7px;
  width: 18px;
}

.important__type {
  font-size: 16px;
  font-weight: 700;
}

.important__content {
  margin: 12px 24px 24px;
}

.balance {
  border: 4px solid #F5F2F0;
  border-radius: 2px;
  margin: 38px 0;
  position: relative;
}

.balance__pluses {
  width: 100%;
}

.balance__content {
  margin: 20px 35px 30px 23px;
}

.main__section-table {
  text-align: center;
}
.main__section-table h4 {
  margin-bottom: 10px;
}

.table__form,
.students__form {
  width: 200px;
  margin: 15% auto 50px;
}
.table__form input,
.students__form input {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  border-radius: 3px;
}
.table__form input:focus,
.students__form input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.table__form button,
.students__form button {
  width: 100%;
  background: rgba(82, 236, 87, 0.8);
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  outline: none;
  position: relative;
  cursor: pointer;
}
.table__form button:hover,
.students__form button:hover {
  background-color: #fff;
  color: #49d24e;
  animation: pulse 1s infinite;
}
.table__form button:active,
.students__form button:active {
  top: 1px;
  background-color: #F6F6F6;
}

.students__form {
  width: 350px;
  padding: 15px;
  border: 4px solid #f8f9fa;
}

.slider__wrapper,
.slider__wrapper-arrows-stop,
.slider__wrapper-second-dots-title {
  margin: 0 auto;
  width: 60%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slider__wrapper-slides {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 100%;
  position: relative;
}
.slide:hover p {
  bottom: 0;
}
.slide p {
  width: 100%;
  height: 50px;
  padding: 5px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  bottom: -50px;
  text-align: center;
  transition: 3s;
  background-color: #000;
  opacity: 0.6;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slider__wrapper-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__wrapper-dots {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 75px);
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}

.slider__dot {
  background: #fff;
  opacity: 0.4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.9s;
}
.slider__dot:hover {
  opacity: 0.9;
  transform: scale(1.2);
}

.active-dot {
  opacity: 0.9;
  transform: scale(1.2);
}

#next-btn:focus,
#prev-btn:focus {
  outline: none;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
}

#prev-btn,
#next-btn {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

#next-btn {
  transform: rotate(-45deg);
}

#prev-btn {
  transform: rotate(135deg);
}

.slider__wrapper-second-dots-title {
  margin-top: 15px;
}

.footer {
  align-items: center;
  background: #FBFAFA;
  border-top: 2px solid #F3F2F1;
  color: #9D9D9D;
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
  height: 70px;
  margin-left: 250px;
  margin-top: 30px;
  padding: 0 48px;
  position: fixed;
  bottom: 0;
  width: calc(100% - 250px);
  transition: 0.5s;
}

.footer__list {
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.footer__item {
  margin-right: 12px;
  white-space: nowrap;
}

.footer__item:not(:nth-last-child(-n+1)):after {
  content: "|";
  margin-left: 12px;
}

.footer__link {
  color: #3B86C4;
}

.footer-all-width {
  margin-left: 0;
  width: 100%;
}

#footer__timer {
  border: 1px solid #3B86C4;
  padding: 5px 10px;
  background: lawngreen;
}
#footer__timer:hover {
  background: red;
}

@media (max-width: 1420px) {
  .main__content {
    font-size: 14px;
    line-height: 22px;
  }

  .breadcrumbs {
    font-size: 14px;
  }

  .footer__item:not(:nth-last-child(-n+1)):after {
    content: "";
  }
}
@media (max-width: 1250px) {
  .page__state {
    margin-bottom: 182px;
  }

  .footer {
    height: auto;
  }

  .footer__list {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer__item {
    margin: 5px 0;
  }
}
@media (max-width: 1220px) {
  .main__content {
    line-height: 20px;
  }
}
@media (max-width: 1170px) {
  .nav__item {
    margin-right: 10px;
  }
  .nav__item a {
    font-size: 14px;
  }
}
@media (max-width: 1120px) {
  .main__content {
    line-height: 19px;
  }
}
@media (max-width: 950px) {
  .aside {
    width: 0;
  }

  .page__state {
    margin-left: 0;
  }

  .aside__content {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  .header__local a {
    display: none;
  }

  .header__logo {
    padding: 7px 10px 0 10px;
  }

  .header__nav ul {
    display: none;
  }

  .footer {
    margin-left: 0;
    width: 100%;
  }

  .header__hamburger-menu {
    display: block;
  }

  .aside-hide {
    width: 33%;
  }

  .page__state-all_width {
    margin-left: 33%;
  }

  .aside__content-hide {
    display: block;
  }

  .footer-all-width {
    margin-left: 33%;
    width: 67%;
  }
}
@media (max-width: 750px) {
  .main {
    padding: 0 15px;
  }

  .main__header-group {
    flex-direction: column;
  }
}
@media (max-width: 530px) {
  .header__hamburger-menu {
    left: 7px;
  }

  .header__buy-book {
    font-size: 12px;
    padding: 0 6px;
  }

  .header__local {
    padding: 10px 5px 0;
    width: 40px;
  }

  .aside-hide {
    width: 100%;
  }

  .page__state-all_width {
    display: none;
  }

  .footer-all-width {
    display: none;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(82, 236, 87, 0.5);
  }
  50% {
    box-shadow: 0 0 0 7px rgba(82, 236, 87, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(82, 236, 87, 0.5);
  }
}
.hide {
  display: none;
}

.generate-table {
  margin: 0 auto;
}
.generate-table tr {
  font-weight: normal;
  text-shadow: #fff 0 1px 0px;
  background-color: #f4f4f4;
}
.generate-table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

/*# sourceMappingURL=style.css.map */
